/*  iPhone 6+, 7+ and 8+  */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .navbar-brand {
      font-size: 0.5em;
    }
    .navbar-custom {
      font-size: 2.0em;
      height: 50px;
    }
    .navbar-toggler {
      width: 100px;
      height: 30px;
    }
    h1,h3 {
      font-size: 2em;
    }
    p {
      font-size: 1.5em;
    }
    h4 {
      font-size: 1.2em;
      font-weight: bold;
    }
    #projects {
      font-size: 0.7em;
    }
    footer {
      font-size: 0.7em;
    }
    .padding {
      margin-top: 80px;
    }
    #home {
      background: url(../images/background_landing_6_7_8_plus.jpg)center;
      /* background-repeat: no-repeat; */
      background-attachment: fixed;
      /* background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover; */
      /* display: table; */
      /* height: 100%; */
      width: 100%;
      background-position: 0 0;
      margin-top: 0px;
    }
    #about {
      margin-top: 20px;
      padding-top: 5px;
    }
}
/* iPad Pro 12.9" */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .navbar-brand {
      font-size: 1.1em;
    }
    .navbar-custom {
      font-size: 2.0em;
      height: 90px;
    }
    .navbar-toggler {
      width: 100px;
      height: 30px;
    }
    h1,h3 {
      font-size: 2em;
    }
    p {
      font-size: 1.5em;
    }
    h4 {
      font-size: 1.2em;
      font-weight: bold;
    }
    #projects {
      font-size: 0.7em;
    }
    footer {
      font-size: 0.9em;
    }
    .padding {
      margin-top: 80px;
    }
}
